body {
    font-family: 'Montserrat', sans-serif;
}
:root {
    --backgr-type-one: #F6F6F8;
    --backgr-type-two: #FFF;
    --color-button:  #4985FF;
    --color-text-white:  #FFF;
    --color-text-dark: #323232;
    --color-text-grey: #999;
    --color-black:  #000;
}
.list {
    list-style-type: none;
}
.link {
    text-decoration: none;
}

/---------------------HEADER---------------------------/


.header {
    color:var(--color-text-white);
font-family: inherit;
font-size: 16px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.02em;
}
.section-first-text {
    color: var(--color-text-white);
text-align: center;
font-family: inherit;
font-size: 16px;
font-weight: 500;
line-height: normal;
}
.section-first-title {
    color: var(--color-text-white);
text-align: center;
font-family: inherit;
font-size: 48px;
font-weight: 800;
line-height: 1.34;
}
 .button {
    color: var(--color-text-white);
    background-color: var(--color-button);
text-align: center;
font-family: inherit;
font-size: 16px;
font-weight: 500;
line-height: normal;
cursor: pointer;
}
.background {
    background-image: url("/images/image-background.jpg");
}
.section-services {
    background-color: var(--backgr-type-two);
}

/----------------------SERVICES-----------------------/


.section-services-title {
    color: var(--color-text-dark);
text-align: center;
font-family: inherit;
font-size: 36px;
font-weight: 700;
line-height: 1.5;
}
 .section-services-text {
    color: var(--color-text-grey);
text-align: center;
font-family: inherit;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.6;
}
.section-services-title-item {
    color: var(--color-black);
font-family: inherit;
font-size: 18px;
font-weight: 600;
line-height: normal;
}
.list .section-services-text {
    color: var(--color-text-grey);
font-family: inherit;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.6;
}

/------------------------ABOUT US---------------------------/

.section-about-us {
    background-color: var(--backgr-type-one);
}
.section-about-us-title {
    color: var(--color-text-dark);
font-family: inherit;
font-size: 36px;
font-weight: 700;
line-height: 1.5;
}
.section-about-us-text {
    color: var(--color-text-grey);
font-family: inherit;
font-size: 16px;
font-weight: 400;
line-height: 1.6;
}
.section-about-us .link {
    color: var(--color-button);
font-family: inherit;
font-size: 16px;
font-weight: 500;
line-height: normal;
text-decoration-line: underline;
}
.section-about-title-item {
    color: var(--color-black);
font-family: inherit;
font-size: 36px;
font-weight: 400;
line-height: 1.5;
}

/---------------------------ALL SERVICES-------------------------/






